* {
    margin:0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #fff;
}


::-webkit-scrollbar-track-piece {
    background:#093547;    
}

::-webkit-scrollbar-thumb {
    background: #10729c;
    border-radius: 5px;
}

::-moz-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #fff;
}

::-moz-scrollbar-track-piece {
    background:#093547;    
}

::-moz-scrollbar-thumb {
    background: #10729c;
    border-radius: 5px;
}


.center {
    margin: auto;
    max-width: 1100px;
    width: 100%;
}

.border-right {
    border-right: 1px solid #999595;
}

html, body {
    height: 100vh;
}

.contatos {
    display: block;
    width: 300px;
    height: 100vh;
    background-color: #fff;
    float: left;
}

.contatos-list {
    height: calc(100% - 80px);
    overflow-y: auto;
}

.contatos-list-ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.contatos-list-ul li {
    display: block;
    width: 100%;
    padding: 12px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.contatos-list-ul li:hover {
    background-color: #eee;
}

.msg {
    width: calc(100% - 300px);
    height: 100vh;
    background-color: #eee;
    float: right;
    overflow-y: auto;
}

.header {
    height: 80px;
    width: 100%;
    background-color: #10729c;
}

.avt {
    display: flex;
    height: inherit;
    align-items: center;
    gap: 5px;
    padding-left: 15px;
}

.avt-foto {
    width: 50px;
    height: 50px;
    border: 5px solid #093547;
    border-radius: 50%;
    background-color: #6c6c6c;
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-position: top center;
    background-size: cover;
}

.avt-nome {
    color: #fff;
}

.avt-nome-list {
    color: #000;
}

.msg-area {
    height: calc(100% - 160px);
    overflow-y: auto;
    padding: 12px;
    background-image: url("../img/fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.msg-area-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #10729c;
}

.msg-textarea {
    height: 40px;
    width: 80%;
    display: block;
    resize: none;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 12px 5px;
}

.msg-balao {
   display: inline-block;
   width: 100%;
}

.msg-txt {
    padding: 15px;
    margin: 5px 0 5px 5px;
    border-radius: 15px;
    text-align: justify;
}

.msg-remetente {
    float: left;
    background-color: #093547;
    color: #fff;
}

.msg-destinatario {
    float: right;
    background-color: #10729c;
    color: #fff;
}